body {
	font-family: helvetica, arial, sans-serif;
}

h1 {
	color: #3a241d;
	text-align: center;
}

#left-container {
	background-color: #eee;
	width: 15%;
	left: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

#right-container {
	background-color: #eee;
	width: 15%;
	right: 0px;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}

.plant-holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.plant {
	transform: translate(0,0);
	position: relative;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.jar-top {
	background-color: rgb(211, 233, 228);
    width: 450px;
    height: 50px;
}

.jar-walls {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-top-left-radius:5em 5em;
	border-top-right-radius:5em 5em;
	border-bottom-left-radius:5em 5em;
	border-bottom-right-radius:5em 5em;
    width: 650px;
    height: 640px;
	background-color: rgb(210, 228, 224);
}

.dirt {
	position: relative;
    width: 640px;
    height: 60px;
	background-color: rgb(184, 180, 175);
	border-bottom-left-radius:8em 8em;
	border-bottom-right-radius:8em 8em;
	margin-top: -60px;
}

.jar-bottom {
    width: 450px;
    height: 10px;
	background-color: rgb(210, 228, 224);
}
.jar-glossy-short {
    width: 30px;
    height: 50px;
	background-color: rgb(238, 255, 251);
	border-top-left-radius:8em 8em;
	border-top-right-radius:8em 8em;
	border-bottom-left-radius:8em 8em;
	border-bottom-right-radius:8em 8em;
	margin-bottom: 80px;
	margin-left: 20px;
}
.jar-glossy-long {
	border-top-left-radius:8em 8em;
	border-top-right-radius:8em 8em;
	border-bottom-left-radius:8em 8em;
	border-bottom-right-radius:8em 8em;
    width: 30px;
    height: 200px;
	background-color: rgb(238, 255, 251);
	margin-left: 20px;
}
#terrarium {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

